body.page-template-events, 
body.page-template-page {
    h3, .location{
      color: $color2;
      font-size: $font-size1/2;
      font-family: $font2;
      font-weight: bold;
    }
    h4{
      color: $color2;
      font-size: $font-size2;
      font-family: $font2;
      font-style: italic; 
    }
    .item{  
      border: $spacer solid white;
      color: $color2;
      background: $color3;
      padding: $spacer;
      font-size: $font-size2;
      font-family: $font2;
    }
    h1{
      font-family: $font1;
      color: $color1;
      text-transform: uppercase;
      font-size: $font-size1;
      text-align: center;
    }
    .location{
      margin-top: $spacer*2;
    }
}
