body.single-content {

  #wrapper-navbar,
  #wrapper-footer,
  #cookie-law-info-bar,
  #cookie-law-info-again {
    display: none;
  }

  #close-button,
  #audio-button {
    position: fixed;
    a {
      color: $color1;
      font-size: 3.5em;
    }

  }

  #close-button {
    right: $spacer*3;
    top: $spacer;

    z-index: 103;
    display: none;
  }

  #info-button {
    bottom: $spacer*3;
    right: $spacer*3;
    z-index: 103;
    position: absolute;
    a{
      color: $color1;
      font-size: 3.5em;
    }
  }

  #home-button {
    bottom: $spacer*3;
    left: $spacer*3;
    z-index: 103;
    position: absolute;
    a{
      color: $color1;
      font-size: 3.5em;
    }

    z-index: 999;

  }

  #audio-button {
    left: $spacer*3;
    top: $spacer;
    z-index: 104;
  }

  #scroll-icon {
    position: absolute;
    bottom: $spacer*3;
    z-index: 105;
    left: 50%;
    -webkit-transform: translate(-50%);
  }


  #cinemagraph{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    z-index: 100;
    > img {

    }
  }
  #bg{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: $color1;
    opacity: 0.9;
    z-index: 101;
    position: absolute;
  }
  #info {
    display: none;
    position: absolute;
    left: 50%;
    padding-top: 14%;
    transform: translate(-50%, -50%);
    -ms-transform:translate(-50%);
    -webkit-transform: translate(-50%);
    z-index: 106;
    width: 100vw;
    height: 100vh;
    img{
      width: 250px;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $spacer*2;
    }
    h3{
      font-size: $font-size3;
      font-family: $font1;
      text-align: center;
      margin: 0;
    }
    a{
      text-align: center;
      color: $color2;
      font-size: $font-size2;
      font-family: $font2;
      background-color: white;
      padding: $spacer/2 $spacer;
      border-radius: 25em;
      width: 250px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: $spacer;
      margin-bottom: $spacer;
    }
  }
}
