body.page-template-walkthrough {
  font-size: $font-size2;
  font-family: $font2;

  #walkthrough.slick {
    .item {
      height: 300px;
    }
  }

  #slide-title-h2{
    text-align: center;
    font-family: "BebasNeueBold";
    font-size: $font-size1;
    color: $color1;
  }

  .slide-img-container{
    text-align: -webkit-center;
    margin-top: $spacer;
    margin-bottom: $spacer;
  }

  .slide-img{
    width: 180px;
  }

  .button-start{
    width: 160px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
    margin-left: 50%;
    left: -80px;
    color: white;
  }
  .button-start:hover{
    text-decoration: none;
  }
}
