body.page-template-walkthrough {
  font-size: $font-size2;
  font-family: $font2;
  .content-area{
    height: 100vh;
  }

  #slide-title-h2{
    text-align: center;
    font-family: "BebasNeueBold";
    font-size: $font-size1;
    color: $color1;
    margin-top: $spacer*2;
  }

  .slide-img-container{
    text-align: -webkit-center;
    margin-top: $spacer;
    margin-bottom: $spacer;
  }

  .slide-img{
    width: 180px;
  }

  .button-skip{
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: block;
    text-align: center;
    color: #000000;

    &:hover{
      text-decoration: none;
    }
  }

  .button-start{
    display: none;
    background-color: $color1;
    width: 200px;
    border-radius: 25em;
    margin-left: auto;
    margin-right: auto;
    a{
      text-align: center;
      color: white;
      font-size: $font-size2;
      font-family: $font2;
      padding: $spacer/2 $spacer;
      display: block;
      margin-top: $spacer;
      margin-bottom: $spacer;
    }
  }
  .button-start:hover{
    text-decoration: none;
  }
}
