@import 'variables';
@import 'layout';

@import 'page-templates/_page.scss';
@import 'page-templates/_walkthrough.scss';
@import 'page-templates/_chisiamo.scss';
@import 'page-templates/_single-content.scss';
@import 'page-templates/_contact.scss';
@import 'page-templates/_map.scss';

@font-face {
  font-family: 'BebasNeueBold';
  src: url('BebasNeueBold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6  {
  color: $color2;
}

a {
  color: $color1;
}



#cookie-law-info-bar{
  font-family: $font2 !important;
  padding: $spacer;
  .cli-plugin-main-link {
    text-decoration: underline;
  }
  #cookie_action_close_header{
    box-shadow: none;
    text-shadow: none;
    border-radius: 25em;
    padding:$spacer/2 $spacer*2;
  }
}

