h1 {
  margin-top: 30px; }

.wrapper {
  padding: 0; }

nav #navbarNavDropdown a {
  font-family: "Open Sans", sans-serif;
  font-size: 17px; }
nav #navbarNavDropdown a:hover {
  text-decoration: underline; }
nav #navbarNavDropdown li.active a {
  font-weight: bold;
  color: #fbba00; }

footer {
  height: 60px;
  bottom: 0px; }
  footer .site-info {
    font-family: "Open Sans", sans-serif;
    font-size: 13.3333333333px;
    text-align: center; }
  footer a {
    color: #424345; }
  footer a:hover {
    text-decoration: underline; }

body.page-template-events h3, body.page-template-events .location,
body.page-template-page h3,
body.page-template-page .location {
  color: #424345;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }
body.page-template-events h4,
body.page-template-page h4 {
  color: #424345;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  font-style: italic; }
body.page-template-events .item,
body.page-template-page .item {
  border: 15px solid white;
  color: #424345;
  background: #f8f8f8;
  padding: 15px;
  font-size: 17px;
  font-family: "Open Sans", sans-serif; }
body.page-template-events h1,
body.page-template-page h1 {
  font-family: "BebasNeueRegular";
  color: #fbba00;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center; }
body.page-template-events .location,
body.page-template-page .location {
  margin-top: 30px; }

body.page-template-walkthrough {
  font-size: 17px;
  font-family: "Open Sans", sans-serif; }
  body.page-template-walkthrough #slide-title-h2 {
    text-align: center;
    font-family: "BebasNeueBold";
    font-size: 40px;
    color: #fbba00;
    margin-top: 30px; }
  body.page-template-walkthrough .slide-img-container {
    text-align: -webkit-center;
    margin-top: 15px;
    margin-bottom: 15px; }
  body.page-template-walkthrough .slide-img {
    width: 180px; }
  body.page-template-walkthrough .button-skip {
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: block;
    text-align: center;
    color: #000000; }
    body.page-template-walkthrough .button-skip:hover {
      text-decoration: none; }
  body.page-template-walkthrough .button-start {
    background-color: #fbba00;
    width: 200px;
    border-radius: 25em;
    margin-left: auto;
    margin-right: auto; }
    body.page-template-walkthrough .button-start a {
      text-align: center;
      color: white;
      font-size: 17px;
      font-family: "Open Sans", sans-serif;
      padding: 7.5px 15px;
      display: block;
      margin-top: 15px;
      margin-bottom: 15px; }
  body.page-template-walkthrough .button-start:hover {
    text-decoration: none; }

body.page-template-chisiamo .box h1 {
  text-align: center;
  color: #fbba00;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "BebasNeueRegular"; }
body.page-template-chisiamo .box h2 {
  text-align: center;
  margin-top: 30px;
  color: #424345;
  font-size: 17px;
  font-family: "Open Sans", sans-serif; }
body.page-template-chisiamo .box p {
  text-align: center;
  color: #424345;
  font-size: 17px;
  font-family: "Open Sans", sans-serif; }
body.page-template-chisiamo .box ul li {
  float: left;
  display: block;
  filter: grayscale(100%); }
body.page-template-chisiamo .box ul li:hover {
  filter: none; }

body.single-content #wrapper-navbar,
body.single-content #wrapper-footer,
body.single-content #cookie-law-info-bar,
body.single-content #cookie-law-info-again {
  display: none; }
body.single-content #close-button,
body.single-content #audio-button {
  position: fixed; }
  body.single-content #close-button a,
  body.single-content #audio-button a {
    color: #fbba00;
    font-size: 3.5em; }
body.single-content #close-button {
  right: 45px;
  top: 15px;
  z-index: 103; }
body.single-content #audio-button {
  left: 45px;
  top: 15px;
  z-index: 104; }
body.single-content #cinemagraph {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 100; }
body.single-content #bg {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #fbba00;
  opacity: 0.9;
  z-index: 101;
  position: absolute; }
body.single-content #info {
  display: none;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  z-index: 102;
  width: 100vw;
  height: 100vh; }
  body.single-content #info img {
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; }
  body.single-content #info h3 {
    font-size: 25px;
    font-family: "BebasNeueRegular";
    text-align: center;
    margin: 0; }
  body.single-content #info a {
    text-align: center;
    color: #424345;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    background-color: white;
    padding: 7.5px 15px;
    border-radius: 25em;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px; }

body.page-template-contact h1 {
  font-family: "BebasNeueRegular";
  color: #fbba00;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center; }
body.page-template-contact form.wpcf7-form p span.wpcf7-form-control-wrap input, body.page-template-contact form.wpcf7-form p span.wpcf7-form-control-wrap textarea {
  background-color: #f8f8f8;
  font-family: "Open Sans", sans-serif; }
body.page-template-contact .wpcf7 input, body.page-template-contact .wpcf7 textarea {
  border: none;
  border-radius: 0;
  font-family: "Open Sans", sans-serif; }
body.page-template-contact label, body.page-template-contact .wpcf7-form p {
  font-size: 10px; }
body.page-template-contact .wpcf7-list-item {
  margin: 0; }
body.page-template-contact .wpcf7 input[type=submit] {
  background: #fbba00;
  border-radius: 25em;
  width: 180px;
  color: white;
  float: right; }

body.page-template-map .acf-map {
  width: 100%; }
body.page-template-map .gm-style-iw h4 a {
  color: #424345; }
body.page-template-map #full-width-page-wrapper {
  min-height: calc(100vh - 60px - 60px); }
  body.page-template-map #full-width-page-wrapper > div {
    min-height: inherit; }
    body.page-template-map #full-width-page-wrapper > div > .row {
      min-height: inherit; }
      body.page-template-map #full-width-page-wrapper > div > .row > #primary {
        min-height: inherit; }
        body.page-template-map #full-width-page-wrapper > div > .row > #primary > #main {
          min-height: inherit; }

@font-face {
  font-family: 'BebasNeueRegular';
  src: url("BebasNeueRegular.ttf") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #424345; }

a {
  color: #fbba00; }

#cookie-law-info-bar {
  font-family: "Open Sans", sans-serif !important;
  padding: 15px; }
  #cookie-law-info-bar .cli-plugin-main-link {
    text-decoration: underline; }
  #cookie-law-info-bar #cookie_action_close_header {
    box-shadow: none;
    text-shadow: none;
    border-radius: 25em;
    padding: 7.5px 30px; }

/*# sourceMappingURL=style.css.map */
