body.page-template-walkthrough {
  font-size: 17px;
  font-family: "Open Sans", sans-serif; }
  body.page-template-walkthrough #walkthrough.slick .item {
    height: 300px; }
  body.page-template-walkthrough #slide-title-h2 {
    text-align: center;
    font-family: "BebasNeueBold";
    font-size: 40px;
    color: #fbba00; }
  body.page-template-walkthrough .slide-img-container {
    text-align: -webkit-center;
    margin-top: 15px;
    margin-bottom: 15px; }
  body.page-template-walkthrough .slide-img {
    width: 180px; }
  body.page-template-walkthrough .button-start {
    width: 160px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
    margin-left: 50%;
    left: -80px;
    color: white; }
  body.page-template-walkthrough .button-start:hover {
    text-decoration: none; }

body.page-template-map .acf-map {
  width: 100%;
  height: 300px;
  border: 1px solid red; }

body.page-template-chisiamo .box h1 {
  text-align: center;
  color: #fbba00;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "BebasNeueBold"; }
body.page-template-chisiamo .box h2 {
  text-align: center;
  margin-top: 30px;
  color: #424345;
  font-size: 17px;
  font-family: "Open Sans", sans-serif; }
body.page-template-chisiamo .box p {
  text-align: center;
  color: #424345;
  font-size: 17px;
  font-family: "Open Sans", sans-serif; }
body.page-template-chisiamo .box ul {
  list-style: none;
  position: relative;
  float: left;
  display: block;
  left: 50%; }
  body.page-template-chisiamo .box ul li {
    position: relative;
    float: left;
    display: block;
    right: 50%;
    filter: grayscale(100%);
    margin: 15px; }
  body.page-template-chisiamo .box ul li:hover {
    filter: none; }

body.page-template-scattanelpassato h1 {
  color: #fbba00;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "BebasNeueBold"; }
body.page-template-scattanelpassato .box ul {
  list-style-type: none;
  padding: 0; }
  body.page-template-scattanelpassato .box ul li {
    width: 300px;
    margin: 15px;
    display: inline-block;
    vertical-align: middle; }
    body.page-template-scattanelpassato .box ul li h2 {
      color: #fbba00;
      font-size: 17px;
      font-family: "Open Sans", sans-serif; }
    body.page-template-scattanelpassato .box ul li p {
      color: #424345;
      background: #f8f8f8;
      padding: 15px;
      font-size: 17px;
      font-family: "Open Sans", sans-serif; }

body.page-template-detail {
  background: #fbba00; }
  body.page-template-detail .bg {
    display: none;
    position: absolute;
    background: #fbba00;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    z-index: 1; }
  body.page-template-detail .overlay {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%; }
    body.page-template-detail .overlay img {
      width: 250px;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px; }
    body.page-template-detail .overlay h3 {
      font-size: 25px;
      font-family: "BebasNeueBold";
      text-align: center;
      margin: 0; }
    body.page-template-detail .overlay a {
      text-align: center;
      color: #424345;
      font-size: 17px;
      font-family: "Open Sans", sans-serif;
      background-color: white;
      padding: 7.5px 15px;
      border-radius: 25em;
      width: 250px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      margin-bottom: 15px; }
  body.page-template-detail #detail {
    height: 100vh; }

body.page-template-bresciaphotofestival-eventi h1 {
  color: #fbba00;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "BebasNeueBold";
  text-align: center; }
body.page-template-bresciaphotofestival-eventi h2 {
  color: #fbba00;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "BebasNeueBold";
  text-align: center; }
body.page-template-bresciaphotofestival-eventi h3 {
  font-size: 26.6666666667px;
  font-family: "Open Sans", sans-serif;
  margin-left: 15px; }
body.page-template-bresciaphotofestival-eventi .box ul {
  list-style-type: none;
  padding: 0; }
  body.page-template-bresciaphotofestival-eventi .box ul li {
    display: inline-block;
    width: 330px;
    height: 230px;
    color: #424345;
    background: #f8f8f8;
    margin: 15px;
    padding: 15px;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    vertical-align: middle; }

body.page-template-contact h1 {
  font-family: "BebasNeueBold";
  color: #fbba00;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center; }
body.page-template-contact form.wpcf7-form p span.wpcf7-form-control-wrap input, body.page-template-contact form.wpcf7-form p span.wpcf7-form-control-wrap textarea {
  background-color: #f8f8f8;
  font-family: "Open Sans", sans-serif; }
body.page-template-contact .wpcf7 input, body.page-template-contact .wpcf7 textarea {
  border: none;
  border-radius: 0;
  font-family: "Open Sans", sans-serif; }
body.page-template-contact label, body.page-template-contact .wpcf7-form p {
  font-size: 10px; }
body.page-template-contact .wpcf7-list-item {
  margin: 0; }
body.page-template-contact .wpcf7 input[type=submit] {
  background: #fbba00;
  border-radius: 25em;
  width: 180px;
  color: white;
  float: right; }

@font-face {
  font-family: 'BebasNeueBold';
  src: url("BebasNeueBold.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #424345; }

a {
  color: #fbba00; }

nav .navbar-brand {
  width: 60px;
  height: auto; }
nav #navbarNavDropdown a {
  color: white;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 17px; }
nav #navbarNavDropdown a:hover {
  font-weight: normal; }

footer {
  bottom: 0px; }
  footer .site-info {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    text-align: center; }

#cookie-law-info-bar {
  font-family: "Open Sans", sans-serif !important;
  padding: 15px; }
  #cookie-law-info-bar .cli-plugin-main-link {
    text-decoration: underline; }
  #cookie-law-info-bar #cookie_action_close_header {
    box-shadow: none;
    text-shadow: none;
    border-radius: 25em;
    padding: 7.5px 30px; }

/*# sourceMappingURL=style.css.map */
